<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-Mapper.dtd">
<mapper namespace="whou.secproject.mapper.MemberMapper">
	<insert id="insert">
		insert into whou_user (num, email) values(user_seq.NEXTVAL, #{email})
	</insert>
	
	<insert id="insert2">
		insert into user_info (num, email) values(#{num}, #{email})
	</insert>
	
	<insert id="insertPro">
		insert into whou_user (num, email, pw, name, birth_year, tel, join_type) 
		<if test = "join_type != ''">
			 values(user_seq.NEXTVAL, #{email}, 'null', #{name}, #{birth_year}, #{tel}, #{join_type})
		</if>
		<if test = "join_type == ''">
			values(user_seq.NEXTVAL, #{email}, #{pw}, #{name}, #{birth_year}, #{tel}, 'whoU')
		</if>
	</insert>
	
	<select id="count" resultType="int">
		select count(*) from whou_user where tel = #{tel}
	</select>
	
	<select id="check" resultType="int">
		select count(*) from whou_user where email = #{email}
	</select>
	
	<select id="num" resultType="int">
		select num from whou_user where email = #{email}
	</select>
	
	<select id="join_type" resultType="String">
		select join_type from whou_user where email = #{email}
	</select>
	
	<select id="login" resultType="String">
		select pw from whou_user where email = #{email}
	</select>
	
	<select id="getEmail" resultType="String">
		select email from whou_user where name = #{name} and tel = #{tel}
	</select>
	
	
	<!-- 추가정보관련(자격증/학과) -->
	<select id="getCerti" resultType="String">
	    select jmfldnm from certificate where jmfldnm like '%' || #{txt} || '%'
	</select>
	
	<select id="getMajor" resultType="String">
		select MCLASS from major where MCLASS like '%' || #{major} || '%' and univSe = #{univSe}
	</select>
	
	<select id="getUserCerti" resultType="String">
		select CERTIFICATE from user_info where email = #{memId}
	</select>
	
	<select id="getUserMajor" resultType="String">
		select SCHOOL_MAJOR from user_info where email = #{memId}
	</select>
	
	<update id="updateInfo">
		update user_info set CERTIFICATE=#{combinedCerti}, SCHOOL_MAJOR=#{combinedMajor} where email = #{memId}
	</update>
	
	
	<!-- 북마크 관련 -->
	<select id="getBook" resultType="String">
		select books from user_info where email = #{memId}
	</select>
	
	<update id="updateBook">
		update user_info set books = #{books} where email =#{memId}
	</update>
	
	<select id="getJob" resultType="whou.secproject.component.Job_infoDTO">
		select job_nm, works, job_cd from job_info where job_cd = #{job_cd}
	</select>
	
	
	<!-- 회원정보수정 관련 -->
	<select id="getUser" resultType="whou.secproject.component.MemberDTO">
		select * from whou_user where num = #{userNum}
	</select>
	
	<select id="userInfo" resultType="whou.secproject.component.UserInfoDTO">
		select * from user_info where num = #{userNum}
	</select>
	
	<update id="updateUser">
		update whou_user set name = #{name}, birth_year = #{birth_year}, tel = #{tel} where email = #{email}
	</update>
	
	<update id="updatePw">
		update whou_user set pw=#{pw} where email = #{memId}
	</update>
	
	<update id="deleteMajor"> 
		update user_info set SCHOOL_MAJOR=#{db} where email = #{memId}
	</update>
	
	<update id="deleteCerti">
		update user_info set CERTIFICATE=#{db} where email = #{memId}
	</update>
	
	<!-- 회원탈퇴 -->
	<select id="dropTest_Result">
		drop table user${userNum}_test_result
	</select>
	
	<select id="dropTest_Save">
		drop table user${userNum}_test_temporary_save
	</select>
	
	<delete id="deleteUser">
		delete from whou_user where num = ${userNum}
	</delete>
	
	<delete id="deleteUser_info">
		delete from user_info where num = ${userNum}
	</delete>
	
	<delete id="deleteRecommand_info">
		delete from recommand_info where num = ${userNum}
	</delete>
	
	<delete id="deleteModel">
		delete from whou_model_custom where email = #{email}
	</delete>

		
		
	<!-- 마이페이지 -->
	<select id="getAptitudeRank" resultType="whou.secproject.component.RecommandInfoDTO">
		select * from recommand_info where num = #{userNum}
	</select>
	<select id="getTempSave" resultType="String">
		select test_percent from user_info where email = #{memId}
	</select>
	
	
	
	<!-- user_info의 num을 이용하여 cunsulting_num 컬럼 값 get -->
	<select id="getCunsultingNum" resultType="Integer">
		select cunsulting_num from user_info where num = #{userNum}
	</select>
	<!-- 역량 보완법을 위해 크롤링한 결과에서 21번 테스트의 역량별 수치 가져옴 -->
	<select id="getRecentTest21" resultType="String">
		SELECT test21_2 FROM user${userNum}_test_result WHERE  test_num=21 AND test_date IN(SELECT max(test_date) FROM user${userNum}_test_result WHERE test_num=21)
	</select>
	<!--  역량 보완 방법을 DB에서 가져옴 -->
	<select id="getTestReinforcement" resultType="whou.secproject.component.TestReinforcementDTO">
		SELECT * FROM test_reinforcement WHERE num=#{num}
	</select>
	
	
	<select id="level" resultType="int">
		SELECT lv FROM whou_user WHERE email = #{email}
	</select>
	
	<!-- 관리자 페이지 -->
	<select id="getAdmin" resultType="whou.secproject.component.MemberDTO">
		select * from whou_user where lv = 2
	</select>

	<insert id="adminInsert">
		insert into whou_user (num, email, pw, name, birth_year, tel, lv, join_type) values(user_seq.NEXTVAL, #{email}, #{pw}, #{name}, #{birth_year}, #{tel}, 2, #{join_type})
	</insert>
	
	<delete id="deleteAdmin">
		delete from whou_user where email = #{email}
	</delete>
</mapper>
