<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-Mapper.dtd">
<mapper namespace="whou.secproject.mapper.RecommendMapper">
	<!-- <sql id="baseResultMap"> <id property="qnum" column="seq"/> <result 
		property="jobName" column="job_nm"/> </sql> <resultMap id="dynamicResultMap" 
		type="${packageName}.${className}DTO" extends="baseResultMap"> </resultMap> -->
	<select id="getTestResult"
		resultType="whou.secproject.component.RecommandInfoDTO">
		SELECT * FROM RECOMMAND_INFO
		<where> num = ${userNum} </where>
	</select>
	<select id="allJobCd" resultType="int"> select Job_Cd from ${tb_name}
		Order by Job_cd </select>
	<select id="getValueCd" resultType="String"> select * from ${tb_name} </select>
	<select id="selectInfo" resultType="java.util.HashMap">
		select ${col} from ${tb_name}
		<if test="conditions!= null">
			<where>
				<foreach collection="conditions" separator=" and " item="condition">
				 	${condition} 
				 </foreach>
			</where>
		</if>
		<if test="order!= null"> ${order} </if>
		<if test="etc!= null"> ${etc} </if>
	</select>
	<insert id="createJobPoint">
		create table job_point_${num} ( 
			job_cd number primary key, 
			total number, 
			aptitude1 number, 
			aptitude2 number, 
			aptitude3 number,
			interest1 number, 
			interest2 number, 
			interest3 number, 
			value1 number,
			value2 number, 
			value3 number, 
			value4 number
			<if test="majors!= null">
				,
				<foreach collection="majors" separator="," item="major"> 
					${major}
				</foreach>
			</if>
			<if test="certis!= null">
				,
				<foreach collection="certis" separator="," item="certi"> 
					${certi} 
				</foreach>
			</if>
		)
	</insert>
	<insert id="insertJobPoint">
		insert into job_point_${num} values( 
			#{job_cd}, 
			#{total},
			#{aptitude1}, 
			#{aptitude2}, 
			#{aptitude3}, 
			#{interest1}, 
			#{interest2},
			#{interest3}, 
			#{value1}, 
			#{value2}, 
			#{value3}, 
			#{value4}
		<if test="majors!= null">
			,
			<foreach collection="majors" separator="," item="major">
				#{major} 
			</foreach>
		</if>
		<if test="certis!= null">
			,
			<foreach collection="certis" separator="," item="certi"> 
				#{certi}
			</foreach>
		</if>
		)
	</insert>
	<insert id = "dropTable">
		drop table job_point_${num}
	</insert>
	<update id="updateFalse">
		update user_info set update_true = 0 where num =#{user}
	</update>
	<update id = "insertConsult">
		update user_info set cunsulting_num = #{job_cd} where num=#{user}
	</update>
	<update id = "setImportances">
		update user_info set factor_important = #{impt} where num=#{user}
	</update>
	<select id="getJobLi" resultType="int">
		select JOB_CD from job_detail where factor_detail = 'ability_name' and detail_value = #{tals}
	</select>
</mapper>